.major{
    position: relative;
    bottom: 200px;
}
@include mobile{
    .major{
        position: relative;
        top:1400px;
        
    }
}
@include tablet{
    .major{
        position: relative;
        top:1400px;
        
    }
}